In [1]:
import warnings
warnings.filterwarnings("ignore")

In [283]:
import scripts.data_layer as data_layer

In [5]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import time
import turicreate as tc
from sklearn.model_selection import train_test_split

import sys
sys.path.append("..")
#import scripts.data_layer as data_layer

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Loading data

In [6]:
transactions = pd.read_csv('data_500.csv')

In [7]:
print(transactions.shape)
transactions.head()

(180000, 26)

,Unnamed: 0,Customer_id,Date,Parent_Brand,Brand,MerchantName,PropertyName,StoreNumber,Address,City,...,TimeStamp,Source,SourceVersion,SourceRowID,UpdatedBy,AdcatBrandId,MERCHANT_MARKET_HIERARCHY_ID,merchant_category_code,Active_Flag,Comment
0,0,Customer_426,2021-04-20 12:53 PM,wingstop,wingstop,wingstop - 0052 - mcom,NaN,-1,7332 antoine dr,houston,...,2021-02-24,agg,1.0,1180,nduggirala,18045,-1,5814,True,NaN
1,1,Customer_243,2021-04-20 02:15 PM,valero,valero,NaN,NaN,-1,13075 kuykendahl rd,houston,...,2021-02-25,agg,1.0,861,nduggirala,34339,-1,5542,True,NaN
2,2,Customer_985,2021-04-20 12:27 PM,mcdonalds,mcdonalds,NaN,NaN,30021,530 maxey road,houston,...,2020-11-04,webscraped,1.0,9922,sjakkala,14053,9922,5814,True,NaN
3,3,Customer_527,2021-04-20 01:12 PM,wendy's,wendy's,wendy's 79,NaN,12090,22633 imperial valley dr,houston,...,2021-02-22,agg,1.0,2265,nduggirala,36259,-1,5814,True,NaN
4,4,Customer_911,2021-04-20 12:05 PM,hertz,hertz,NaN,NaN,HOUC17,501 westlake park blvd.,houston,...,2020-12-08,agg,1.0,2078,dsingh,12561,-1,3357,True,NaN

In [8]:
transactions=transactions.groupby(['Customer_id', 'Brand']).size().reset_index(name="Count")

In [9]:
transactions.head(5)

  Customer_id            Brand  Count
0  Customer_0    altar'd state      1
1  Customer_0  ann taylor loft      1
2  Customer_0           armani      1
3  Customer_0            asics      1
4  Customer_0         autozone      2

In [11]:
transactions["Brand"].nunique()  #625 Brands are there

625

In [12]:
Brand_List=list(set(transactions["Brand"]))

In [29]:
enum=enumerate(Brand_List)
brand_dict=dict((j,i) for i,j in enum)

In [30]:
brand_dict

{'aamco': 0,
 'sherwinwilliams': 1,
 'hugo boss': 2,
 "fry's electronics": 3,
 'radisson': 4,
 'texas de brazil': 5,
 'red robin': 6,
 'dairy queen': 7,
 'aeropostale': 8,
 'advance auto parts, inc': 9,
 "america's best contacts & eyeglasses": 10,
 'fendi': 11,
 'long john silver': 12,
 'bonobos': 13,
 "wendy's": 14,
 'beacon roofing supply': 15,
 'mod pizza': 16,
 'la madeleine french cafe': 17,
 'h-e-b': 18,
 'kids foot locker': 19,
 'american girl': 20,
 'saks fifth avenue': 21,
 "lands' end": 22,
 'pure barre': 23,
 "jersey mike's subs": 24,
 "kriser's": 25,
 'sbarro': 26,
 'four points by sheraton': 27,
 'patagonia': 28,
 'jamba juice': 29,
 '99 cent only stores': 30,
 'budget car rental': 31,
 'kwik kar': 32,
 'clinique': 33,
 'mac cosmetics': 34,
 'carquest corporation': 35,
 'bassett furniture': 36,
 'canada goose': 37,
 'hyatt regency': 38,
 'christian brothers automotive': 39,
 'charleys philly steaks': 40,
 'walgreens': 41,
 'cubesmart': 42,
 'jiffy lube': 43,
 'payless shoes': 44,
 'texaco inc': 45,
 "dickey's barbecue pit": 46,
 '76': 47,
 'stanley steemer': 48,
 '7-eleven': 49,
 'california pizza kitchen at fashion place': 50,
 'hotel indigo': 51,
 'la quinta inn': 52,
 "chili's grill & bar": 53,
 'americas best value inn': 54,
 "leslie's swimming pool supplies": 55,
 'aloft hotels': 56,
 'national car rental': 57,
 'precision tune auto care': 58,
 'cricket communications': 59,
 'olive garden': 60,
 'half price books': 61,
 'aveda': 62,
 '24 hour fitness': 63,
 "pappasito's cantina": 64,
 'total wine & more': 65,
 'state farm': 66,
 'harley davidson': 67,
 "kohl's": 68,
 'pier 1 imports': 69,
 'vince': 70,
 'tuesday morning': 71,
 'nordstrom': 72,
 'lids': 73,
 'rue 21': 74,
 'central market': 75,
 'hard rock cafe': 76,
 'sleep inn & suites': 77,
 'harbor freight tools': 78,
 'smoothie king': 79,
 'peter piper pizza': 80,
 'spencer gifts': 81,
 "marco's pizza": 82,
 'torrid': 83,
 'equinox': 84,
 'square': 85,
 'mazda': 86,
 'u-haul': 87,
 'brandy melville': 88,
 'sweetgreen': 89,
 'oakley': 90,
 "macy's backstage": 91,
 'sunbelt rentals': 92,
 'econo lodge': 93,
 'madewell': 94,
 'boost worldwide, inc.': 95,
 "carter's clothing": 96,
 "zoe's kitchen": 97,
 'lupe tortilla': 98,
 'vans shoes': 99,
 "p.f. chang's": 100,
 'interstate batteries': 101,
 'club pilates': 102,
 'best western inn': 103,
 "logan's roadhouse": 104,
 'valvoline': 105,
 'athleta': 106,
 'panera bread': 107,
 'verizon wireless': 108,
 'rainbow shops': 109,
 'fogo de chao': 110,
 'shoe carnival': 111,
 'bed bath & beyond': 112,
 'club monaco': 113,
 "chuy's": 114,
 'williams-sonoma': 115,
 'bath and body works, llc': 116,
 'hyatt house': 117,
 'fast signs': 118,
 'top golf': 119,
 'big lots': 120,
 'ramada international': 121,
 'jw marriott hotels & resorts': 122,
 'allsaints': 123,
 'gen korean bbq': 124,
 "children's place": 125,
 'lucky brand': 126,
 "cavender's boot city": 127,
 'pilot travel centers llc': 128,
 'the tile shop': 129,
 'jenny craig': 130,
 'valero': 131,
 'build-a-bear workshop': 132,
 'days inn worldwide, inc': 133,
 'hyundai': 134,
 'zumiez': 135,
 "fleming's prime steakhouse & wine bar": 136,
 'suitsupply': 137,
 "fuzzy's taco shop": 138,
 'kay jewelers': 139,
 'cole haan': 140,
 'smartstyle': 141,
 "raising cane's": 142,
 'el rancho supermercado': 143,
 'ashley furniture': 144,
 'hilton hotels': 145,
 'once upon a child': 146,
 "randall's food markets": 147,
 "dave & buster's": 148,
 'zara': 149,
 'hyatt hotels': 150,
 'sunoco inc.': 151,
 'dollar tree stores': 152,
 'ray-ban': 153,
 'tropical smoothie cafe': 154,
 'pappadeaux seafood kitchen': 155,
 'outback steakhouse': 156,
 "casey's general store, inc": 157,
 'sysco foodservice': 158,
 'banana republic factory store': 159,
 'worldpac, inc': 160,
 "macy's": 161,
 'dsw shoes': 162,
 'mathnasium': 163,
 'holiday inn hotels': 164,
 'the cheesecake factory': 165,
 'la fitness': 166,
 'true value': 167,
 'gulf oil': 168,
 "francesca's": 169,
 'gap': 170,
 'curio': 171,
 'ford': 172,
 'valvoline instant oil change': 173,
 'baymont inn & suites': 174,
 'candlewood hotel company, inc': 175,
 'dos caminos': 176,
 'michelin tires': 177,
 "newk's express cafe": 178,
 'tribute': 179,
 'christian dior': 180,
 'prada': 181,
 'hollister': 182,
 'first american home warranty': 183,
 'starbucks': 184,
 'two men and a truck': 185,
 'ace hardware': 186,
 'apple stores': 187,
 'pearle vision': 188,
 'homegoods': 189,
 'autograph collection hotels': 190,
 'super 8 motel': 191,
 'gamestop': 192,
 'skechers': 193,
 'janie and jack': 194,
 "domino's pizza": 195,
 'gnc': 196,
 'edible arrangements': 197,
 'seasons 52': 198,
 "schlotzsky's": 199,
 'best western plus': 200,
 'michael kors': 201,
 'kroger': 202,
 "popeye's chicken": 203,
 'at home': 204,
 'versace': 205,
 'champs sports': 206,
 'mellow mushroom': 207,
 'fedex office print & ship center': 208,
 'parkmobile': 209,
 'tire rack': 210,
 "church's chicken": 211,
 'lazy dog cafe': 212,
 'yankee candle': 213,
 'drybar': 214,
 "altar'd state": 215,
 'the melting pot': 216,
 'iberia': 217,
 'great wall supermarkets': 218,
 'adidas': 219,
 'barnes & noble': 220,
 'finish line': 221,
 'coach': 222,
 'longhorn steakhouse': 223,
 'wingstop': 224,
 'tj maxx': 225,
 'jack in the box': 226,
 'midas, inc': 227,
 'quality inn & suites': 228,
 'pottery barn': 229,
 'texas roadhouse': 230,
 'tillys': 231,
 'burlington stores, inc.': 232,
 'lush cosmetics': 233,
 "hungry howie's": 234,
 'the container store': 235,
 'redbox': 236,
 "eddie v's prime seafood": 237,
 'avis car rental': 238,
 'black bear': 239,
 'shoe show': 240,
 'mastro`s restaurants llc': 241,
 'country inns & suites by carlson': 242,
 'westin hotel': 243,
 'disney stores worldwide': 244,
 'chick-fil-a': 245,
 'neiman marcus group': 246,
 'restaurant depot': 247,
 'hertz': 248,
 'saltgrass steakhouse': 249,
 'raceway': 250,
 'staples': 251,
 'costco': 252,
 'element': 253,
 "plato's closet": 254,
 'ross': 255,
 'west elm, inc.': 256,
 'builders firstsource': 257,
 'new balance': 258,
 'sarku': 259,
 'abercrombie & fitch': 260,
 'sephora usa inc.': 261,
 'fleet feet sports': 262,
 'ymca': 263,
 'great clips': 264,
 'hooters': 265,
 "lowe's": 266,
 'bp': 267,
 'cinemark': 268,
 "carrabba's italian grill": 269,
 "mcalister's deli": 270,
 'lifetime fitness': 271,
 'marshalls': 272,
 'murphy gas usa': 273,
 'in-n-out burger': 274,
 "chico's": 275,
 'holiday inn express': 276,
 'shell': 277,
 'lincoln motor company': 278,
 'camp bow wow': 279,
 'jimmy johns': 280,
 'golf galaxy inc': 281,
 "rudy's bbq": 282,
 'arhaus': 283,
 'best buy': 284,
 'louis vuitton': 285,
 'take 5 oil change': 286,
 'fossil': 287,
 'h mart': 288,
 'united airlines': 289,
 'boot barn': 290,
 'bluemercury inc': 291,
 'cosmoprof': 292,
 'ferguson enterprises': 293,
 'childtime': 294,
 'crowne plaza hotels & resorts': 295,
 'cvs pharmacy': 296,
 'sleep number': 297,
 'chipotle mexican grill': 298,
 'justice retail': 299,
 "j. alexander's": 300,
 'urban outfitters': 301,
 'sam ash music': 302,
 'cartier': 303,
 'intermix': 304,
 'bmw group': 305,
 'design within reach': 306,
 'goodwill': 307,
 'phillips 66': 308,
 'circle k': 309,
 'family dollar': 310,
 'studio movie grill': 311,
 'krispy kreme': 312,
 'visionworks': 313,
 'ac hotels': 314,
 'la petite academy': 315,
 'A&W Restaurants': 316,
 'guitar center': 317,
 'carpet one': 318,
 'casper sleep': 319,
 'h&m': 320,
 'wyndham hotels & resorts': 321,
 'conocophillips': 322,
 'wingate inn': 323,
 "hardee's": 324,
 'courtyard by marriott': 325,
 'red wing shoes': 326,
 'renaissance hotel': 327,
 'mattress firm': 328,
 "victoria's secret stores llc": 329,
 'comfort inn and suites': 330,
 'laz parking': 331,
 'le meridien': 332,
 'benihana': 333,
 'burberry': 334,
 'j. crew factory': 335,
 'intown suites': 336,
 'whole foods market': 337,
 'crocs': 338,
 'rooms to go': 339,
 'knights inn': 340,
 'journeys': 341,
 'fastenal': 342,
 'pei wei asian diner': 343,
 'red lobster': 344,
 'the oceanaire': 345,
 'fairfield inn & suites': 346,
 'foot locker': 347,
 'united parcel service': 348,
 'travelodge inn&stes': 349,
 'au bon pain': 350,
 'the dump': 351,
 'microtel inn & suites': 352,
 'pluckers wing bar': 353,
 "o'reilly auto parts": 354,
 "dd's discounts": 355,
 'genghis grill': 356,
 'origins natural resources, inc.': 357,
 'smashburger': 358,
 "trader joe's": 359,
 'charlotte russe': 360,
 "aaron's": 361,
 'embassy suites': 362,
 'brio tuscan grille': 363,
 'super cuts': 364,
 'lacoste': 365,
 'ultra mobile': 366,
 'estee lauder': 367,
 'lane bryant': 368,
 'floor and decor outlets of america': 369,
 'famous footwear': 370,
 'five guys burgers and fries': 371,
 'national tire and battery': 372,
 'motel 6': 373,
 'citgo petroleum corporation': 374,
 'anytime fitness': 375,
 'ulta': 376,
 'rci (resort condominiums international)': 377,
 'cotton on': 378,
 'tory burch': 379,
 'golden chick': 380,
 'exxonmobil': 381,
 "dillard's": 382,
 'residence inn': 383,
 'taco bell': 384,
 "jason's deli": 385,
 'steve madden': 386,
 'timewise': 387,
 'cleaning authority, the': 388,
 'ben bridge jeweler': 389,
 "dunkin' donuts": 390,
 'express': 391,
 "denny's": 392,
 'doubletree hotels': 393,
 "vic and anthony's steakhouse": 394,
 'hibbett sports': 395,
 'abc supply co.': 396,
 'united rentals': 397,
 'jc penney': 398,
 'james avery jewelry': 399,
 'spirit halloween': 400,
 'comcast telecommunications, inc.': 401,
 'johnston & murphy': 402,
 'under armour': 403,
 'preferred hotel group': 404,
 'la griglia restaurant': 405,
 'forever 21': 406,
 'amtrak': 407,
 'tiffany': 408,
 'gucci': 409,
 'batteries plus': 410,
 'goodyear': 411,
 'kate spade': 412,
 'aldo shoes': 413,
 'molly maid': 414,
 'talbots inc': 415,
 'hallmark': 416,
 'jpmorgan chase bank, n.a.': 417,
 "love's country store": 418,
 'timberland': 419,
 'free people': 420,
 'the home depot': 421,
 "arby's": 422,
 't-mobile': 423,
 'j.jill': 424,
 'hermes': 425,
 'ralph lauren': 426,
 'homewood suites': 427,
 'grease monkey': 428,
 'lakeshore learning materials': 429,
 'five below': 430,
 'gap outlet': 431,
 'burger king worldwide, inc.': 432,
 'dhl': 433,
 'staybridge suites': 434,
 'tgi fridays': 435,
 'corner bakery cafe': 436,
 'at&t store': 437,
 'sur la table': 438,
 '1-800-flowers': 439,
 'ritz carlton hotels': 440,
 "l'occitane": 441,
 'fuddruckers': 442,
 'blink fitness': 443,
 'us cellular': 444,
 'la michoacana meat market': 445,
 'ann taylor loft': 446,
 'northern tool + equipment': 447,
 'true food kitchen': 448,
 'four seasons hotel': 449,
 'columbia sportswear': 450,
 'new york & company': 451,
 'pollo campero': 452,
 'planet fitness': 453,
 'the north face': 454,
 'tommy bahama': 455,
 "dick's sporting goods": 456,
 'cycle gear': 457,
 'citi trends': 458,
 'anthropologie': 459,
 'ann inc.': 460,
 'panda express': 461,
 'dress barn': 462,
 'weight watchers': 463,
 'hyatt place': 464,
 'aldi foods': 465,
 'wells fargo': 466,
 'micro center': 467,
 'california closets': 468,
 'old navy': 469,
 'whataburger': 470,
 'boston market corporation': 471,
 'merry maids': 472,
 'petco animal supplies, inc.': 473,
 'the vitamin shoppe': 474,
 'euromarket designs inc.': 475,
 'windsor': 476,
 'hilton garden inn': 477,
 "see's candies": 478,
 'extended stay hotels': 479,
 'the joint': 480,
 'h&r block': 481,
 'neiman marcus last call': 482,
 'box lunch': 483,
 'soma intimates': 484,
 'extra space': 485,
 'crossfit': 486,
 'baskin-robbins': 487,
 'petsmart': 488,
 'pods': 489,
 'hot topic, inc.': 490,
 'discount tire co.': 491,
 'american eagle store': 492,
 'fiesta mart': 493,
 'gordon food service': 494,
 'public storage': 495,
 'sprouts farmers market': 496,
 'liberty mutual': 497,
 'soul cycle': 498,
 'vera bradley': 499,
 'lilly pulitzer': 500,
 'gyu-kaku': 501,
 'the buckle': 502,
 'fedex': 503,
 'banana republic': 504,
 'helzberg diamonds': 505,
 'ferrellgas': 506,
 'banfield pet hospital': 507,
 'sonic drive-in': 508,
 "auntie anne's pretzels": 509,
 'hampton by hilton': 510,
 "torchy's tacos": 511,
 'rodeway inn': 512,
 'massage envy': 513,
 'warby parker': 514,
 "cici's pizza": 515,
 "ruth's chris steak house": 516,
 'firehouse subs': 517,
 'golden corral': 518,
 'sally beauty': 519,
 'ethan allen': 520,
 'chevron': 521,
 'howard johnson': 522,
 'swarovski crystallized': 523,
 'buybuy baby': 524,
 'enterprise rent-a-car': 525,
 'pep boys': 526,
 'pet supermarket': 527,
 'shake shack': 528,
 'target': 529,
 'blaze pizza': 530,
 'pet supplies plus': 531,
 'academy sports + outdoors': 532,
 'cummins': 533,
 'buffalo wild wings': 534,
 'mcdonalds': 535,
 'cash america international': 536,
 'buca di beppo': 537,
 'clarks usa': 538,
 "morton's the steakhouse": 539,
 'st. regis hotels': 540,
 'lenscrafters': 541,
 'david yurman': 542,
 'waffle house': 543,
 'chickensalad chick': 544,
 'party city': 545,
 "luby's": 546,
 'sheraton hotel': 547,
 'orkin': 548,
 'grotto': 549,
 'pella windows and doors': 550,
 "maggiano's little italy": 551,
 "david's bridal": 552,
 'armstrong mccall, l.p.': 553,
 'hobby lobby': 554,
 'whirlpool': 555,
 'kfc': 556,
 'aritzia clothing': 557,
 'little caesars pizza': 558,
 'armani': 559,
 'chanel': 560,
 'urban air': 561,
 'inter ikea systems b.v.': 562,
 "captain d's": 563,
 'cost plus world market': 564,
 'la-z-boy': 565,
 'springhill suites': 566,
 'home2 suites by hilton': 567,
 'sprint': 568,
 'mister car wash': 569,
 'the parking spot': 570,
 'peterbilt rentals': 571,
 'intercontinental hotels & resorts': 572,
 'herc rentals': 573,
 'walmart': 574,
 'chicken express': 575,
 'joann fabrics': 576,
 'european wax center': 577,
 'asics': 578,
 'autozone': 579,
 'taco cabana': 580,
 'hand & stone massage and facial spa': 581,
 'cracker barrel old country store': 582,
 'amazing lash studio': 583,
 '99 ranch market': 584,
 "cheddar's scratch kitchen": 585,
 'orange theory fitness': 586,
 'j.crew': 587,
 'rejuvenation': 588,
 'stein mart': 589,
 'morphe cosmetics': 590,
 'sunglass hut': 591,
 "peet's coffee & tea": 592,
 'carmax': 593,
 'subway': 594,
 'marriott hotels': 595,
 'theory': 596,
 'jollibee': 597,
 "kirkland's": 598,
 'petland': 599,
 "zaxby's": 600,
 'dollar general': 601,
 'yard house': 602,
 'kendra scott': 603,
 'towne place': 604,
 'comcast': 605,
 'checkers': 606,
 'sun & ski sports': 607,
 'napa auto parts': 608,
 'sport clips haircuts': 609,
 'tru by hilton': 610,
 'the capital grille': 611,
 'el pollo loco': 612,
 'pizza hut': 613,
 'bonchon chicken': 614,
 'chevrolet': 615,
 'jared the galleria of jewelry': 616,
 'carhartt': 617,
 'nordstrom rack': 618,
 'vca animal hospitals': 619,
 'brooks brothers': 620,
 'footaction': 621,
 'twin peaks': 622,
 'rack room shoes': 623,
 'potbelly sandwich shop': 624}

In [31]:
def convertBrandID(x):
    return brand_dict[x]

In [32]:
transactions["products"]=transactions["Brand"].apply(convertBrandID)

In [33]:
transactions.head(10)

  Customer_id                  Brand  Count  products
0  Customer_0          altar'd state      1       215
1  Customer_0        ann taylor loft      1       446
2  Customer_0                 armani      1       559
3  Customer_0                  asics      1       578
4  Customer_0               autozone      2       579
5  Customer_0        avis car rental      1       238
6  Customer_0               best buy      1       284
7  Customer_0               big lots      2       120
8  Customer_0              bmw group      1       305
9  Customer_0  boost worldwide, inc.      5        95

In [34]:
transactions.columns=["customerId","Brand","purchase_count","productId"]

In [35]:
data=transactions

In [36]:
print(data.shape)  # Which Customer purchased what and in what quantity
data.head()

(105101, 4)

   customerId            Brand  purchase_count  productId
0  Customer_0    altar'd state               1        215
1  Customer_0  ann taylor loft               1        446
2  Customer_0           armani               1        559
3  Customer_0            asics               1        578
4  Customer_0         autozone               2        579

In [37]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy

In [38]:
data_dummy = create_data_dummy(data)

In [39]:
data_dummy.shape

(105101, 5)

In [40]:
data_dummy.head(5) # Added 1 across every Item

   customerId            Brand  purchase_count  productId  purchase_dummy
0  Customer_0    altar'd state               1        215               1
1  Customer_0  ann taylor loft               1        446               1
2  Customer_0           armani               1        559               1
3  Customer_0            asics               1        578               1
4  Customer_0         autozone               2        579               1

In [42]:
data_dummy["productId"].nunique() # There are 625 unique Items

625

In [43]:
df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')
df_matrix.head()

productId,0,1,2,3,4,5,6,7,8,9,...,615,616,617,618,619,620,621,622,623,624
customerId,,,,,,,,,,,,,,,,,,,,,
Customer_0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_101,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [44]:
df_matrix.shape

(1000, 625)

In [45]:
df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())
print(df_matrix_norm.shape)
df_matrix_norm.head()

(1000, 625)

productId,0,1,2,3,4,5,6,7,8,9,...,615,616,617,618,619,620,621,622,623,624
customerId,,,,,,,,,,,,,,,,,,,,,
Customer_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_101,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [46]:
# create a table for input to the modeling

d = df_matrix_norm.reset_index()
d.index.names = ['scaled_purchase_freq']
data_norm = pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()
print(data_norm.shape)
data_norm.head()

(99938, 3)

      customerId productId  scaled_purchase_freq
1     Customer_1         0                   0.0
4   Customer_101         0                   0.0
14  Customer_110         0                   0.0
15  Customer_111         0                   0.0
22  Customer_118         0                   0.0

#### Define a function for normalizing data

In [47]:
def normalize_data(data):
    df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')
    df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())
    d = df_matrix_norm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()

* We can normalize the their purchase history, from 0-1 (with 1 being the most number of purchase for an item and 0 being 0 purchase count for that item).

In [48]:
data_norm.shape

(99938, 3)

In [49]:
data_dummy.shape

(105101, 5)

In [50]:
# Using turicreate library, we convert dataframe to SFrame - this will be useful in the modeling part

norm = tc.SFrame(data_norm)
dummy=tc.SFrame(data_dummy)

In [65]:
norm.head(2)

Columns:
	customerId	str
	productId	int
	scaled_purchase_freq	float

Rows: 2

Data:
+--------------+-----------+----------------------+
|  customerId  | productId | scaled_purchase_freq |
+--------------+-----------+----------------------+
|  Customer_1  |     0     |         0.0          |
| Customer_101 |     0     |         0.0          |
+--------------+-----------+----------------------+
[2 rows x 3 columns]

In [55]:
# variables to define field names
user_id = 'customerId'
item_id = 'productId'
target = 'purchase_count'
users_to_recommend = list(transactions['customerId'])
n_rec = 5 # number of items to recommend
n_display = 30

In [56]:
popularity_model = tc.popularity_recommender.create(dummy, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)

Warning: Ignoring columns Brand, purchase_dummy;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 105101 observations with 1000 users and 625 items.

    Data prepared in: 0.156679s

105101 observations to process; with 625 unique items.

In [57]:
len(users_to_recommend)

105101

In [58]:
# Get recommendations for a list of users to recommend (from customers file)
# Printed below is head / top 30 rows for first 3 customers with 10 recommendations each

popularity_recomm = popularity_model.recommend(users=users_to_recommend, k=n_rec)

recommendations finished on 1000/105101 queries. users per second: 618429

recommendations finished on 2000/105101 queries. users per second: 715820

recommendations finished on 3000/105101 queries. users per second: 742207

recommendations finished on 4000/105101 queries. users per second: 762631

recommendations finished on 5000/105101 queries. users per second: 789640

recommendations finished on 6000/105101 queries. users per second: 817661

recommendations finished on 7000/105101 queries. users per second: 847047

recommendations finished on 8000/105101 queries. users per second: 851789

recommendations finished on 9000/105101 queries. users per second: 855107

recommendations finished on 10000/105101 queries. users per second: 839631

recommendations finished on 11000/105101 queries. users per second: 820283

recommendations finished on 12000/105101 queries. users per second: 784878

recommendations finished on 13000/105101 queries. users per second: 746826

recommendations finished on 14000/105101 queries. users per second: 726933

recommendations finished on 15000/105101 queries. users per second: 722613

recommendations finished on 16000/105101 queries. users per second: 708121

recommendations finished on 17000/105101 queries. users per second: 693227

recommendations finished on 18000/105101 queries. users per second: 645346

recommendations finished on 19000/105101 queries. users per second: 626401

recommendations finished on 20000/105101 queries. users per second: 621736

recommendations finished on 21000/105101 queries. users per second: 618684

recommendations finished on 22000/105101 queries. users per second: 616523

recommendations finished on 23000/105101 queries. users per second: 608772

recommendations finished on 24000/105101 queries. users per second: 595726

recommendations finished on 25000/105101 queries. users per second: 593726

recommendations finished on 26000/105101 queries. users per second: 596494

recommendations finished on 27000/105101 queries. users per second: 595974

recommendations finished on 28000/105101 queries. users per second: 594998

recommendations finished on 29000/105101 queries. users per second: 593897

recommendations finished on 30000/105101 queries. users per second: 596872

recommendations finished on 31000/105101 queries. users per second: 593063

recommendations finished on 32000/105101 queries. users per second: 592044

recommendations finished on 34000/105101 queries. users per second: 580859

recommendations finished on 35000/105101 queries. users per second: 583188

recommendations finished on 33000/105101 queries. users per second: 563198

recommendations finished on 36000/105101 queries. users per second: 583904

recommendations finished on 37000/105101 queries. users per second: 586771

recommendations finished on 38000/105101 queries. users per second: 583995

recommendations finished on 39000/105101 queries. users per second: 583431

recommendations finished on 40000/105101 queries. users per second: 588036

recommendations finished on 41000/105101 queries. users per second: 590744

recommendations finished on 42000/105101 queries. users per second: 592961

recommendations finished on 43000/105101 queries. users per second: 595337

recommendations finished on 44000/105101 queries. users per second: 596465

recommendations finished on 45000/105101 queries. users per second: 596944

recommendations finished on 46000/105101 queries. users per second: 596342

recommendations finished on 47000/105101 queries. users per second: 596856

recommendations finished on 48000/105101 queries. users per second: 596852

recommendations finished on 49000/105101 queries. users per second: 596673

recommendations finished on 50000/105101 queries. users per second: 595955

recommendations finished on 51000/105101 queries. users per second: 590250

recommendations finished on 52000/105101 queries. users per second: 571221

recommendations finished on 53000/105101 queries. users per second: 541950

recommendations finished on 54000/105101 queries. users per second: 534987

recommendations finished on 55000/105101 queries. users per second: 525401

recommendations finished on 56000/105101 queries. users per second: 519105

recommendations finished on 57000/105101 queries. users per second: 516829

recommendations finished on 58000/105101 queries. users per second: 515996

recommendations finished on 59000/105101 queries. users per second: 515870

recommendations finished on 60000/105101 queries. users per second: 513439

recommendations finished on 61000/105101 queries. users per second: 512627

recommendations finished on 62000/105101 queries. users per second: 509868

recommendations finished on 63000/105101 queries. users per second: 507132

recommendations finished on 64000/105101 queries. users per second: 506686

recommendations finished on 65000/105101 queries. users per second: 507182

recommendations finished on 66000/105101 queries. users per second: 509377

recommendations finished on 67000/105101 queries. users per second: 511693

recommendations finished on 68000/105101 queries. users per second: 514026

recommendations finished on 69000/105101 queries. users per second: 514273

recommendations finished on 70000/105101 queries. users per second: 514214

recommendations finished on 71000/105101 queries. users per second: 511620

recommendations finished on 72000/105101 queries. users per second: 510765

recommendations finished on 73000/105101 queries. users per second: 512227

recommendations finished on 74000/105101 queries. users per second: 513329

recommendations finished on 75000/105101 queries. users per second: 513822

recommendations finished on 76000/105101 queries. users per second: 509677

recommendations finished on 77000/105101 queries. users per second: 505478

recommendations finished on 78000/105101 queries. users per second: 505208

recommendations finished on 79000/105101 queries. users per second: 502359

recommendations finished on 80000/105101 queries. users per second: 496947

recommendations finished on 81000/105101 queries. users per second: 496646

recommendations finished on 82000/105101 queries. users per second: 498129

recommendations finished on 83000/105101 queries. users per second: 499338

recommendations finished on 84000/105101 queries. users per second: 500515

recommendations finished on 85000/105101 queries. users per second: 498545

recommendations finished on 86000/105101 queries. users per second: 495389

recommendations finished on 87000/105101 queries. users per second: 496694

recommendations finished on 88000/105101 queries. users per second: 498228

recommendations finished on 89000/105101 queries. users per second: 499386

recommendations finished on 90000/105101 queries. users per second: 501153

recommendations finished on 91000/105101 queries. users per second: 501856

recommendations finished on 92000/105101 queries. users per second: 503040

recommendations finished on 93000/105101 queries. users per second: 500840

recommendations finished on 94000/105101 queries. users per second: 481723

recommendations finished on 95000/105101 queries. users per second: 480188

recommendations finished on 96000/105101 queries. users per second: 478000

recommendations finished on 97000/105101 queries. users per second: 474845

recommendations finished on 98000/105101 queries. users per second: 458171

recommendations finished on 99000/105101 queries. users per second: 453448

recommendations finished on 100000/105101 queries. users per second: 447730

recommendations finished on 101000/105101 queries. users per second: 447612

recommendations finished on 102000/105101 queries. users per second: 445958

recommendations finished on 103000/105101 queries. users per second: 443169

recommendations finished on 104000/105101 queries. users per second: 435256

recommendations finished on 105000/105101 queries. users per second: 433215

# Top 10 trendig restaurants in that city over 1 month

In [59]:
popularity_recomm.print_rows(20)   # These are the recommendations at user level using a Baseline Model

+------------+-----------+--------------------+------+
| customerId | productId |       score        | rank |
+------------+-----------+--------------------+------+
| Customer_0 |     66    | 3.0380549682875264 |  1   |
| Customer_0 |    366    | 2.5854748603351956 |  2   |
| Customer_0 |    411    | 2.2359281437125746 |  3   |
| Customer_0 |    417    | 2.153012048192771  |  4   |
| Customer_0 |    466    | 1.9010416666666667 |  5   |
| Customer_0 |     66    | 3.0380549682875264 |  1   |
| Customer_0 |    366    | 2.5854748603351956 |  2   |
| Customer_0 |    411    | 2.2359281437125746 |  3   |
| Customer_0 |    417    | 2.153012048192771  |  4   |
| Customer_0 |    466    | 1.9010416666666667 |  5   |
| Customer_0 |     66    | 3.0380549682875264 |  1   |
| Customer_0 |    366    | 2.5854748603351956 |  2   |
| Customer_0 |    411    | 2.2359281437125746 |  3   |
| Customer_0 |    417    | 2.153012048192771  |  4   |
| Customer_0 |    466    | 1.9010416666666667 |  5   |
| Customer_0 |     66    | 3.0380549682875264 |  1   |
| Customer_0 |    366    | 2.5854748603351956 |  2   |
| Customer_0 |    411    | 2.2359281437125746 |  3   |
| Customer_0 |    417    | 2.153012048192771  |  4   |
| Customer_0 |    466    | 1.9010416666666667 |  5   |
+------------+-----------+--------------------+------+
[525505 rows x 4 columns]

#### Define a `model` function for model selection

In [71]:
# Since turicreate is very accessible library, we can define a model selection function as below
# The model will decide what should be the similarity criteria like cosine or pearson

def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    elif name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='pearson')
        
    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [61]:
customers=pd.DataFrame({"user_id":["Customer_002","Customer_001","Customer_000"]})

In [62]:
customers

        user_id
0  Customer_002
1  Customer_001
2  Customer_000

In [63]:
# variables to define field names
# constant variables include:
user_id = 'customerId'
item_id = 'productId'
users_to_recommend = list(customers["user_id"])
n_rec = 10 # number of items to recommend
n_display = 30 # to print the head / first few rows in a defined dataset

#### Using purchase dummy

In [76]:
# these variables will change accordingly
name = 'popularity'
target = 'scaled_purchase_freq'
pop_model = model(norm, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 99938 observations with 1000 users and 427 items.

    Data prepared in: 0.08911s

99938 observations to process; with 427 unique items.

+--------------+-----------+---------------------+------+
|  customerId  | productId |        score        | rank |
+--------------+-----------+---------------------+------+
| Customer_002 |     95    | 0.35299999999999765 |  1   |
| Customer_002 |    236    | 0.35161990647962577 |  2   |
| Customer_002 |    105    |  0.3283802491924327 |  3   |
| Customer_002 |    277    |  0.3049999999999998 |  4   |
| Customer_002 |    594    |  0.2859953703703722 |  5   |
| Customer_002 |     87    |  0.2635416666666693 |  6   |
| Customer_002 |    503    |  0.2610011641443535 |  7   |
| Customer_002 |    419    | 0.24971941638608292 |  8   |
| Customer_002 |    131    | 0.24917012448132758 |  9   |
| Customer_002 |    101    |  0.2286814425244198 |  10  |
| Customer_001 |     95    | 0.35299999999999765 |  1   |
| Customer_001 |    236    | 0.35161990647962577 |  2   |
| Customer_001 |    105    |  0.3283802491924327 |  3   |
| Customer_001 |    277    |  0.3049999999999998 |  4   |
| Customer_001 |    594    |  0.2859953703703722 |  5   |
| Customer_001 |     87    |  0.2635416666666693 |  6   |
| Customer_001 |    503    |  0.2610011641443535 |  7   |
| Customer_001 |    419    | 0.24971941638608292 |  8   |
| Customer_001 |    131    | 0.24917012448132758 |  9   |
| Customer_001 |    101    |  0.2286814425244198 |  10  |
| Customer_000 |     95    | 0.35299999999999765 |  1   |
| Customer_000 |    236    | 0.35161990647962577 |  2   |
| Customer_000 |    105    |  0.3283802491924327 |  3   |
| Customer_000 |    277    |  0.3049999999999998 |  4   |
| Customer_000 |    594    |  0.2859953703703722 |  5   |
| Customer_000 |     87    |  0.2635416666666693 |  6   |
| Customer_000 |    503    |  0.2610011641443535 |  7   |
| Customer_000 |    419    | 0.24971941638608292 |  8   |
| Customer_000 |    131    | 0.24917012448132758 |  9   |
| Customer_000 |    101    |  0.2286814425244198 |  10  |
+--------------+-----------+---------------------+------+
[30 rows x 4 columns]

In [79]:
def pred_popular(uid,k):
    recom = pop_model.recommend(users=[uid], k=k)
    recom = recom.to_dataframe() # convertinng sframe to dataframe
    product_list=list(recom["productId"])
    predictions=[brand_dict_reverse[i] for i in product_list]
    return predictions

In [93]:
pred_popular("Customer_002",10) #Same recommendation for All

['boost worldwide, inc.',
 'redbox',
 'valvoline',
 'shell',
 'subway',
 'u-haul',
 'fedex',
 'timberland',
 'valero',
 'interstate batteries']

In [94]:
pred_popular("Customer_001",10) #Same recommendation for All

['boost worldwide, inc.',
 'redbox',
 'valvoline',
 'shell',
 'subway',
 'u-haul',
 'fedex',
 'timberland',
 'valero',
 'interstate batteries']

#### Final Model

In [83]:
final_model = tc.item_similarity_recommender.create(tc.SFrame(norm), 
                                            user_id=user_id, 
                                            item_id=item_id, 
                                            target='scaled_purchase_freq', 
                                            similarity_type='pearson')

Preparing data set.

    Data has 99938 observations with 1000 users and 427 items.

    Data prepared in: 0.078585s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 3.174ms                        | 100        |

| 3.609ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 5.519ms                             | 0                | 0               |

| 127.564ms                           | 100              | 427             |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.135781s

In [111]:
def pred_results(uid,k):
    recom = final_model.recommend(users=[uid], k=k)
    recom = recom.to_dataframe() # convertinng sframe to dataframe
    product_list=list(recom["productId"])
    predictions=[brand_dict_reverse[i] for i in product_list]
    return predictions

In [99]:
pred_results("Customer_0",10) #Different Predictions as per Customers history

['state farm',
 'ultra mobile',
 'jpmorgan chase bank, n.a.',
 'tire rack',
 'wells fargo',
 'goodyear',
 'citgo petroleum corporation',
 "domino's pizza",
 "popeye's chicken",
 'laz parking']

In [95]:
pred_results("Customer_002",10) #Different Predictions as per Customers history

['boost worldwide, inc.',
 'redbox',
 'valvoline',
 'shell',
 'subway',
 'u-haul',
 'fedex',
 'timberland',
 'valero',
 'interstate batteries']

In [112]:
pred_results("Customer_100",10) ##Different Predictions as per customer Customers history

['cricket communications',
 'cvs pharmacy',
 'wells fargo',
 'citgo petroleum corporation',
 'laz parking',
 'timewise',
 'best western inn',
 'hertz',
 'radisson',
 'napa auto parts']

In [110]:
pred_results("Customer_500",10) ##Different Predictions as per customers history

['subway',
 'jpmorgan chase bank, n.a.',
 'cvs pharmacy',
 'best western inn',
 'cummins',
 'radisson',
 'napa auto parts',
 'best western plus',
 "church's chicken",
 'la quinta inn']

In [107]:
pred_results("Deepak",10) ##New Customer trending items

['boost worldwide, inc.',
 'redbox',
 'valvoline',
 'shell',
 'subway',
 'u-haul',
 'fedex',
 'timberland',
 'valero',
 'interstate batteries']

# Saving final_model

In [102]:
final_model.save("recommender.h5")

In [103]:
pop_model.save("popular_recommender.h5")

In [77]:
brand_dict_reverse={k:v for v,k in brand_dict.items() }

In [105]:
import pickle
with open("brand_dict_reverse.pkl","wb") as rd:
    pickle.dump(brand_dict_reverse,rd)

In [88]:
transactions.head(2)

   customerId            Brand  purchase_count  productId
0  Customer_0    altar'd state               1        215
1  Customer_0  ann taylor loft               1        446

In [89]:
transactions[transactions["customerId"]=="Customer_0"]

    customerId             Brand  purchase_count  productId
0   Customer_0     altar'd state               1        215
1   Customer_0   ann taylor loft               1        446
2   Customer_0            armani               1        559
3   Customer_0             asics               1        578
4   Customer_0          autozone               2        579
..         ...               ...             ...        ...
93  Customer_0  verizon wireless               1        108
94  Customer_0         walgreens               4         41
95  Customer_0           wendy's               2         14
96  Customer_0         whirlpool               3        555
97  Customer_0              zara               1        149

[98 rows x 4 columns]

In [90]:
pred_results("Customer_0",10)

['state farm',
 'ultra mobile',
 'jpmorgan chase bank, n.a.',
 'tire rack',
 'wells fargo',
 'goodyear',
 'citgo petroleum corporation',
 "domino's pizza",
 "popeye's chicken",
 'laz parking']

In [91]:
transactions[transactions["customerId"]=="Customer_1"]

     customerId               Brand  purchase_count  productId
98   Customer_1     A&W Restaurants               1        316
99   Customer_1               aamco               1          0
100  Customer_1             aaron's               1        361
101  Customer_1      abc supply co.               1        396
102  Customer_1            autozone               3        579
..          ...                 ...             ...        ...
189  Customer_1          vans shoes               3         99
190  Customer_1         wells fargo               3        466
191  Customer_1             wendy's               1         14
192  Customer_1           whirlpool               1        555
193  Customer_1  whole foods market               1        337

[96 rows x 4 columns]

In [92]:
pred_results("Customer_1",10)

['walgreens',
 "peet's coffee & tea",
 'tire rack',
 'pizza hut',
 'cummins',
 'hertz',
 'radisson',
 'napa auto parts',
 'best western plus',
 'at&t store']

In [258]:
transactions[transactions["customerId"]=="Customer_002"]

     customerId                Brand  purchase_count  productId
8  Customer_002  peet's coffee & tea             180          7

In [344]:
pred_results("Customer_002",2)

['mcdonalds', 'subway']

In [260]:

transactions[transactions["customerId"]=="Customer_003"]

      customerId           Brand  purchase_count  productId
9   Customer_003         chevron              30          4
10  Customer_003  domino's pizza               6          9
11  Customer_003             kfc               5          1
12  Customer_003  planet fitness               1          5
13  Customer_003          redbox              44          6
14  Customer_003       starbucks              21          8

In [345]:
pred_results("Customer_003",2)

['mcdonalds', 'subway']

In [262]:
transactions[transactions["customerId"]=="Customer_004"]

      customerId           Brand  purchase_count  productId
15  Customer_004         chevron              26          4
16  Customer_004  domino's pizza               7          9
17  Customer_004             kfc               9          1
18  Customer_004  planet fitness               1          5
19  Customer_004          redbox              42          6
20  Customer_004       starbucks              17          8

In [346]:
pred_results("deepak",3)

['chevron', 'mcdonalds', 'subway']

In [264]:
transactions[transactions["customerId"]=="Customer_005"]

      customerId           Brand  purchase_count  productId
21  Customer_005         chevron              18          4
22  Customer_005  domino's pizza               4          9
23  Customer_005             kfc               3          1
24  Customer_005  planet fitness               4          5
25  Customer_005          redbox              38          6
26  Customer_005       starbucks              16          8

In [318]:
pred_results("Customer_005",5)

['subway', 'mcdonalds', "peet's coffee & tea"]

In [233]:
transactions[transactions["customerId"]=="Customer_006"]

      customerId           Brand  purchase_count  productId
27  Customer_006         chevron              18          4
28  Customer_006  domino's pizza               7          9
29  Customer_006             kfc               4          1
30  Customer_006  planet fitness               1          5
31  Customer_006          redbox              31          6
32  Customer_006       starbucks              11          8

In [319]:

pred_results("Customer_006",2)

['mcdonalds', 'subway']

In [235]:
transactions[transactions["customerId"]=="Customer_007"]

      customerId           Brand  purchase_count  productId
33  Customer_007         chevron              27          4
34  Customer_007  domino's pizza               5          9
35  Customer_007             kfc               3          1
36  Customer_007  planet fitness               2          5
37  Customer_007          redbox              41          6
38  Customer_007       starbucks              22          8

In [320]:
pred_results("Customer_007",2)

['mcdonalds', 'subway']

In [237]:
pred_results("Customer_008",2)

['mcdonalds', 'subway']

In [238]:
pred_results("Customer_009",2)

['mcdonalds', 'subway']

In [239]:
pred_results("Customer_010",2)

['mcdonalds', 'subway']

In [242]:
pred_results(1,2)

['mcdonalds', 'subway']

In [ ]:
### Conclusion :